body {
    background-color: #121212;
    font-family: 'Poppins', sans-serif;
    color: #eaeaea;
}

h4, h1, strong {
    color: #fff;
}

h1 {
    color: #000;
}

.section-box {
    background-color: #000;
    padding: 20px;
    border-radius: 10px;
}

.header-yellow {
    background-color: #F4D35E;
    border-bottom: 2px solid #c9a742;
}

.search-bar {
    max-width: 380px;
    width: 100%;
}

.search-bar .input-group-text {
    border-right: none;
}

.search-bar .form-control {
    border-left: none;
}

/* SALDO */
.saldo-card {
    background-color: #1c1c1c;
    border-left: 4px solid #F4D35E;
    transition: 0.25s ease;
}

.saldo-card:hover {
    transform: scale(1.03);
    box-shadow: 0 0 15px rgba(255,255,255,0.05);
}

.saldo-valor {
    font-size: 1.8rem;
    color: #6ef7c8;
}

.profile-pic {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
    background-color: #222;
}

.post-card {
    background-color: #1e1e1e;
    border-left: 4px solid #F4D35E;
    cursor: pointer;
    transition: 0.25s ease;
}

.post-card:hover {
    transform: scale(1.03);
    background-color: #242424 !important;
    box-shadow: 0px 8px 20px rgba(0,0,0,0.4);
}

.actions i {
    cursor: pointer;
    transition: 0.2s;
    font-size: 1.2rem;
}

.actions i:hover {
    color: #F4D35E;
    transform: scale(1.2);
}

.action-like:hover {
    color: #ff4d6d !important;
}

.icon-share {
    color: #fff !important;
    transition: 0.2s;
}

.icon-share:hover {
    color: #1ef96b !important;
    transform: scale(1.15);
}

.crypto-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
}

.crypto-slot {
    background-color: #1f1f1f;
    border: 1px solid #333;
    height: 80px;
    border-radius: 8px;
    transition: 0.25s;
    cursor: pointer;
}

.crypto-slot:hover {
    transform: scale(1.06);
    box-shadow: 0 0 15px rgba(255,255,255,0.05);
}

.crypto-slot.filled {
    padding: 10px;
    border-left: 4px solid #F4D35E;
}

.crypto-slot .value {
    display: block;
    margin-top: 5px;
    color: #6ef7c8;
    font-weight: bold;
}

.notify-card {
    border-left: 4px solid #F4D35E;
    transition: .2s;
    cursor: pointer;
}

.notify-card:hover {
    background-color: #242424 !important;
    transform: scale(1.02);
}

.bottom-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 65px;
    background-color: #1f1f1f;
    border-top: 1px solid #333;
    z-index: 999;
}

.bottom-nav i {
    color: #aaa;
    transition: 0.2s;
}

.bottom-nav i:hover {
    color: #F4D35E;
    transform: scale(1.1);
}

.nav-link-summary {
    text-decoration: none;
}

.offcanvas {
    background-color: #181818 !important;
    color: white;
}

.offcanvas .btn-close {
    filter: invert(1);
}

.offcanvas .list-group-item {
    background-color: #181818;
    border-bottom: 1px solid #333;
    color: white !important;
}

.offcanvas .list-group-item:hover {
    background-color: #222;
}

.offcanvas i {
    color: #F4D35E;
}